name: Changelog

on:
  workflow_dispatch:
  push: 
    tags:
  push:
    branches:
      - main

jobs:

  changelog:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # we need this because fetch-tags=true and because of a GHA bug:
          fetch-tags: true

      - name: Generate Changelog
        uses: fabien-marty/github-generate-changelog-action@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          log-level: 'DEBUG'
          future: 'true'

      - name: Commit the changelog in a new PR
        env:
          BRANCH: automatic-changelog
          BASE: main
        run: |
          DIFF=$(git status --short)
          if test "${DIFF}" = ""; then
            echo "No changes to commit => exit here"
            exit 0
          fi
          git stash save --include-untracked
          git checkout "${BASE}"
          N=`git fetch origin "${BRANCH}" 2>/dev/null || echo "NOTFOUND"`
          if test "${N}" = "NOTFOUND"; then
            echo "Branch: ${BRANCH} does not exist, let's create a new branch..."
            git checkout -b "${BRANCH}"
          else
            echo "Branch: ${BRANCH} already exists, let's reset this branch with ${BASE}..."
            git checkout -b "${BRANCH}" "origin/${BRANCH}"
            git reset --hard "${BASE}"
          fi
          git stash apply
          echo "Let's commit and push the changes..."
          git config --global user.name 'Automatic Changelog'
          git config --global user.email 'automatic@changelog.com'
          git add -A
          git commit -m "Automatic Changelog"
          git push -u origin -f "${BRANCH}"
          echo "Checking existing PRs for head:${BRANCH}..."
          N=`gh pr list --search "head:${BRANCH} is:pr is:open" --json number |grep number || true`
          if test "${N}" != ""; then
            echo "There is already an open PR for this branch => exit here"
            exit 0
          fi
          gh pr create --title "Changelog automatic update" --body "Changelog automatic update" --repo "${{ github.repository }}" --head "${BRANCH}" --label "Type: Hidden"
