name: Create Release

on:
  workflow_dispatch:
    inputs:
      draft:
        type: choice
        description: "Create the release as draft"
        options: 
          - "yes"
          - "no"
        default: "no"
        required: true
      force:
        type: choice
        description: "Force the creation of a release (even if no PR are found)"
        options: 
          - "yes"
          - "no"
        default: "no"
        required: true

jobs:

  release:
    runs-on: ubuntu-22.04
    permissions:
      actions: write
      contents: write
      packages: write
      pull-requests: write
    outputs:
      tag: ${{ steps.output.outputs.tag }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # we need this because fetch-tags=true and because of a GHA bug: https://github.com/actions/checkout/issues/1471
          fetch-tags: true
      - id: create-release
        uses: fabien-marty/github-create-next-semantic-release-action@main
        with:
          github-token: ${{ github.token }} # Let's use the default value of the current workflow
          repository: ${{ github.repository }} # Let's use the default value of the current workflow
          repository-owner: ${{ github.repository_owner }} # Let's use the default value of the current workflow
          release-force: ${{ github.event.inputs.force == 'yes' }}
          release-draft: ${{ github.event.inputs.draft == 'yes' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Set output
        id: output
        run: |
          echo "tag=${{ steps.create-release.outputs.new-tag }}" >>"$GITHUB_OUTPUT"
      - name: Trigger changelog
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh workflow run changelog.yml

  publish_pypi:
    runs-on: ubuntu-22.04
    needs: release
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"
          python-version: 3.9
      - name: Install requirements
        run: |
          make install
      - name: Publish on Pypi
        run: |
          VERSION=`echo "${{ needs.release.outputs.tag }}" |sed 's/^v//g'`
          cat pyproject.toml |sed 's/^version = ".*"$/version = "'${VERSION}'"/g' > pyproject.toml.new
          mv -f pyproject.toml.new pyproject.toml
          cat pyproject.toml |grep ^version
          uv build
          uv publish --token "${{ secrets.PYPI_TOKEN }}"

  test_imports:
    runs-on: ubuntu-22.04
    needs: publish_pypi
    steps:
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"
      - name: test
        run: |
          echo "- Waiting 60s..."
          sleep 60
          for P in 3.7 3.8 3.9 3.10 3.11 3.12; do
            export UV_PYTHON=${P}
            echo "- Testing import with python-${P}..."
            uv run --with redis-tagged-cache --refresh-package redis-tagged-cache --no-project -- python -c "import rtc"
          done

